.scholar-item-link {
  color: #000;
  display: block;
}
.scholar-item-link:hover, .scholar-item-link:hover:active {
  color: #000;
  text-decoration: none;
}
.scholar-item-link .card {
  transition: all 0.3s ease;
}
.scholar-item-link:hover .card, .scholar-item-link:hover:active .card {
  background-color: rgba(0,0,0,0.1);
}
