.sidebar-bar {
    z-index: 2;
    width: 100%;
    height: 52px;
    /* background-color:; */
    position: fixed;
  }

  .bg-gray {
    background-color: #f4f4f4;
  }
    
  .sidebar-burger-button {
    position: fixed;
    width: 40px;
    height: 40px;
    right: 10px;
    margin: 0.5px;
    top: 10px;
    cursor: pointer;
    /* background:transparent; */
    border:0;
    z-index: 1040;
    border-radius: 50%;
    background-color: rgba(44,44,44,0.3);
    outline: none;
    
  }
  .sidebar-burger-button:hover {
    outline: 0;
    /* background: #D75025; */
    background-color: rgba(44,44,44,0.5);
  }
  
  .sidebar-burger-button:focus {
    outline: 0;
    background-color: rgba(44,44,44,0.5);
    /* background: #D75025; */
  }
  
  .sidebar-burger-bar {
    width: 21px;
    height: 3px;
    background-color: #000;
    /* background-color: white; */
    margin:auto;
    margin-top: 3px;
    margin-bottom: 3px;
    border-radius: 10px;
  }
  
  .sidebar-nav-content {
    margin-top: 50px;
  }
  
  .sidebar-link {
    border-bottom: 1px solid gray;
    text-decoration: none;
    display: block;
    padding: 10px 15px;
  }
  
  .sidebar-link:hover, .sidebar-link:active  {
  text-decoration: none;
  }